@font-face {
  font-family: Nunito;
  src: url(/Nunito.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: Nunito;
}

.home {
  background: linear-gradient(#fbe4a8, #f3c552);
  height: 100vh;
  padding-top: 3vw;
}

.wrapper {
  background: url(/bg-home.png) no-repeat right top;
  background-size: 50% 95%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 40px;
  margin-inline: 10vw;
  border-radius: 20px;
  box-shadow: 0 40px 80px rgba(0, 0, 0, 0.25);
}

/*! Header */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2vw;
  margin-bottom: 20px;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 65%;
}

nav a {
  text-decoration: none;
  color: black;
  font-size: 16px;
}

nav a:nth-of-type(1) {
  color: #f3c552;
  font-weight: 900;
}
nav a:nth-of-type(6) {
  border: 1px solid black;
  text-transform: uppercase;
  padding: 9px 35px;
  font-weight: 900;
  border-radius: 4px;
}

h3 {
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 24px;
}

/*! Main */
main {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-inline: 2vw;
  gap: 50px;
}

article {
  width: 50%;
}

img {
  max-width: 50%;
}

h2 {
  font-size: 36px;
  font-weight: 400;
  margin-bottom: 16px;
}

h1 {
  font-size: 72px;
  max-width: 10ch;
  line-height: 100px;
  margin-bottom: 16px;
}
span {
  font-weight: 900;
}

.button {
  background-color: #daa520;
  border-radius: 4px;
  padding: 14px 24px;
  color: white;
  font-weight: 700;
  text-decoration: none;
}
